// Scrollbar
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #97846e;
}

::-webkit-scrollbar-thumb:active {
  background: #4c4c4e;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #e6e6e6;
}

::-webkit-scrollbar-track:active {
  background: #f0f0f0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// Selection
::selection {
  background: #eaeaea;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #eaeaea;
  /* Gecko Browsers */
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@font-face {
  font-family: 'HaasGrotDisp-75Bold';
  src: url('../fonts/HaasGrotDisp-75Bold.eot');
  src: url('../fonts/HaasGrotDisp-75Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HaasGrotDisp-75Bold.svg#HaasGrotDisp-75Bold') format('svg'),
    url('../fonts/HaasGrotDisp-75Bold.ttf') format('truetype'),
    url('../fonts/HaasGrotDisp-75Bold.woff') format('woff'),
    url('../fonts/HaasGrotDisp-75Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


// Color
$white: #ffffff;
$altWhite: #fcfcfc;
$black: #131313;
$solitude: #f7f7f7;
$lightGreen: #e5f0ed;
$green: #38524F;
$lightGrey: #727272;
$darkGrey: #4c4c4e;
$gold: #97846e;

// Foundation

ul,
ol,
dl {
  margin: 0;
}

ul {
  list-style: none;
}

em,
i {
  font-style: normal;
  line-height: inherit;
}

body, html {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #FBFBF9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;

  @include breakpoint(small down) {
    margin-bottom: 1rem;
  }
}

p {
  font-size: 1.1rem;

  @include breakpoint(small down) {
    font-size: 0.85rem;
  }
}

hr {
  max-width: 100%;
}


.font-alt {
  font-family: -apple-system, BlinkMacSystemFont, "Arial", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.accordion {
  margin-left: 0;
  background: $solitude;
  list-style-type: none;
}

.accordion-title {
  font-family: "Playfair Display", serif;
  position: relative;
  display: block;
  text-align: center;
  padding: 1.25rem 2rem;
  border: none;
  border-bottom: 0;
  font-size: 1.3rem;
  line-height: 1;
  color: $gold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include breakpoint(small down) {
    font-size: 1rem;
  }
}

.accordion-title::before {
  content: "\e915";
  font-family: "Icomoon";
  position: absolute;
  font-size:1.8rem;
  top: 50%;
  right: 1rem;
  margin-top: -0.85rem;
}

.is-active > .accordion-title::before {
  content: "\e912";
}

.accordion-title:hover,
.accordion-title:focus {
  color: $black;
}

:root {
  --col-1: calc(100vw / 12 * 1);
}

.container-fluid {
  width: 100%;
  height: 100%;

  .row {
    display: flex;
    height: 100%;
  }
}

.bg-white {
  background: $white;
}

.bg-green {
  background: $green !important;
}

.alt-white {
  background: $altWhite;
}

.light-green {
  background: $lightGreen !important;
}

.green {
  color: $green !important;
}

.solitude {
  background: $solitude;
}

.gold {
  color: $gold;
}

.white {
  color: $white;
}

.light-grey {
  color: $lightGrey;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.georgia {
  font-family: "Georgia", Cambria, Cochin, Times, Times New Roman, serif;
  font-style: italic;
  color: $gold;
}


.start-m {
  margin: 150px 0 15% 0;
}

// Margin - Padding

.header-p {
  padding: 100px 0 0 0;

  @include breakpoint(medium down) {
    padding: 60px 0 0 0;
  }
}

.sec-m {
  margin-top: 15%;
}

.sec-m-full {
  margin: 15% 0;
}

.int-padding {
  padding: 7.5% 0;
}

.custom-m {
  margin-top: 5%;
}

.reg-m {
  position: relative;
  margin: 0 50px;

  @include breakpoint(medium down) {
    margin: 0 25px;
  }

  @include breakpoint(small down) {
    margin: 0 25px;
  }
}

.left-m {
  position: relative;
  margin: 0 0 0 50px;

  @include breakpoint(medium down) {
    margin: 0 0 0 25px;
  }

  @include breakpoint(small down) {
    margin: 0 40px;
  }
}

.breakpoint-p {
  padding: 0;

  @include breakpoint(medium down) {
    padding: 15% 0;
  }
}

// Margin - Padding END



.sec-p-top {
  padding: 15% 0;
}

.sec-p {
  padding-bottom: 15%;
}

.text-block-m {
  position: relative;
  margin-left: 50px;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

.padding {
  padding: 7.5% 0;
}

.small-padding {
  padding: 1rem;
}

.wrap-button {
  padding: 1rem 0;
}

.card-max-width {
  max-width: 100rem;
  margin: 0 auto;
}

.packs-category {
  margin: 4rem 0 2rem 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.vertical-align-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
}

.header a.button-shop {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #000;
  border-radius: 20px;
  font-size: 10px !important;
  color: white !important;
  text-align: center;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  cursor: pointer;
}

.header a.button-shop:hover {
  background-color: #000;
  opacity: 1;
}



.blend {
  mix-blend-mode: difference;
}

.blend-mode img {
  mix-blend-mode: darken;
}


/* Form */

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: none;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.6;
  color: #0a0a0a;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1b1b1b;
  background-color: white;
  box-shadow: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.wrap-form {
  background: #fff;
  padding: 2rem;
}

.wrap-form h4 {
  margin-bottom: 0.5rem;
}

.input-field {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
}

.input-field-required {
  color: #ff4e4e;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
}

.wrap-form input:not([type=radio]):not([type=checkbox]):not([type=submit]),
.wrap-form select,
.wrap-form textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 1.25rem 0.75rem 0.5rem .75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
}

.wrap-form .input-field-label {
  line-height: 18px;
  display: inline-block;
  margin-bottom: 5px;
  transition: opacity 200ms ease;
  text-transform: none;
  opacity: 1;
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 9px;
  left: 0.75rem;
  top: 5px;
  color: #727272;
}

.wrap-form select {
  font-size: 0.9rem;
  background-image: url('../img/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right calc(100% - 7px);
  background-size: 15px 15px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  background: #fcfcfc;
  border: none !important;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #1b1b1b;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
  border: 2px solid $green;
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* List */

.list-unstyled {
  margin: 0;
  list-style: none;
  text-align: left;
}

.inline-list {
  display: inline;
  list-style: none;
}

.inline-list li {
  display: inline-block;
  margin-right: 1rem;
}

.inline-list li a {
  font-size: 2rem;
  color: $green;
}

.list_container {
  padding: 2rem;
  text-align: center;
}

.bullet-list li {
  position: relative;
  padding: 5px 12px 15px 25px;
  font-size: 1.4rem;
  color: $green;

  @include breakpoint(medium down) {
    font-size: 1rem;
    padding: 5px 12px 15px 25px;
  }

  @include breakpoint(small down) {
    font-size: 1rem;
    padding: 5px 12px 0px 25px;
  }
}

.bullet-list li::before {
  color: $green;
  content: "\e903";
  font-family: "Icomoon";
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  left: 0;
  top: 15px;
  padding-right: 20px;
  position: absolute;
  text-decoration: inherit;
}

/* Large Text */

.wrap-large-text {
  position: relative;
}

.grid-large-text {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  align-items: start;
  position: relative;
}

.wrap-text-header {
  grid-column: 3 / 11;
  position: relative;
  margin: 10vw 0 0;
}

.large-text {
  display: flex;
  flex-direction: column;
  color: #4c4c4e;
}

.large-text-line {
  display: block;
  margin: 0;
  transform-origin: left bottom;
  white-space: nowrap;
  font-size: 5.8vw;
  line-height: 1;
  overflow: visible;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.large-text span:nth-of-type(2) {
  align-self: flex-end;
}

.wrap-sub-text {
  position: absolute;
  bottom: 0.7vw;
  left: calc(var(--col-1) * -1);
  margin: 0;
  width: 20.13889vw;
}

.sub-text {
  font-size: 1.2vw;
  text-align: left;
  line-height: 1.8;
}

.wrap-text-bottom {
  grid-column: 8 / 12;
  display: unset;
  margin-top: 1rem;
  overflow: hidden;
}

.text-bottom {
  font-size: 1.7vw;
  text-transform: uppercase;
}

/* Background Text */

.wrap-bg-text {
  position: relative;

  .bg-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    h1 {
      position: relative;
      top: -100px;
      left: -50px;
      font-size: 15vw;
      color: rgba(51, 51, 51, 0.05);
      font-family: "Playfair Display", serif;
      font-weight: 400;
      margin: 0;
      white-space: nowrap;

      @include breakpoint(medium down) {
        top: -70px;
      }

      @include breakpoint(small down) {
        top: -40px;
        left: -10px;
      }
    }
  }
}

/* Background Image */

.bg-img-100vh {
  height: 100vh;
  min-height: 550px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.bg-img-padding {
  background: transparent no-repeat scroll center center / cover;
  padding-top: 250px;
  padding-bottom: 250px;
}

.bg-img-55vh {
  height: 55vh;
  min-height: 550px;
  position: relative;
  overflow: hidden;

  @include breakpoint(small down) {
    height: 40vh;
    min-height: 350px;
  }
}

.bg-img {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-img-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img h1 {
  font-size: 4vw;
  letter-spacing: -0.025em;
  color: $white;

  @include breakpoint(small down) {
    font-size: 1.4rem;
  }
}

.emblem {
  position: absolute;
  top: 10%;
  right: 10%;
}

.emblem img {
  height: 100px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);

  @include breakpoint(small down) {
    height: 50px;
  }
}

/* Text-box */

.text-box {
  @include breakpoint(medium down) {
    padding: 2rem 0;
  }

}

.text-box-img-holder {
  position: relative;
  height: 100vh;
  width: 100%;

  @include breakpoint(small down) {
    height: 100vh;
    max-height: 300px;
  }
}

.text-box-bg-img {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* =============================================================================
   Sidebar
   ========================================================================== */

.sidebar-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background: white;
  z-index: 2;
}

.sidebar-inner {
  position: relative;
  top: 120px;
}

.sidebar-push {
  position: relative;
  border-collapse: collapse;
  margin-left: 125px;
  height: 100%;
  width: auto;
}

.wrap-shop-content {
  position: relative;
  margin: 0 0.9375rem;
  z-index: 10;
}

h2.category-title {
  text-align: center;
}

.category-title h3 {
  padding-top: 80px;
  color: #97846e;
  font-size: 2em;
  text-align: center;
}

.category-title h3 span {
  font-size: 80%;
  position: relative;
  margin: 0 1rem 0 0;
  display: inline-block;
  color: #4c4c4e;
}

@media screen and (max-width: 39.9375em) {
  .wrap-shop-content .grid-margin-y>.cell {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-push {
    margin-left: 0;
  }

  .wrap-shop-content {
    margin: 0;
  }

}

.text-block {
  margin: 5vh 0 0 0;
  max-width: 95%;

  @include breakpoint(small down) {
    margin: 3vh 0 0 0;
  }
}

.pull-img img {
  margin-left: -25px;
}


.block-title h3 span {
  display: block;
  font-size: 50%;
  padding: 0.25rem 0.15rem 0 0.15rem;
  color: $green;
}




.select-block {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Playfair Display', serif;
  background: rgba(240, 240, 240, 0.4);
  color: $lightGrey;
  display: block;
  padding: 0.5em 1.2em;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: default;
    color: $black;
    -webkit-box-shadow: 8px 12px 28px 0 rgba(136, 142, 160, 0.4);
    box-shadow: 8px 12px 28px 0 rgba(136, 142, 160, 0.4);
    -moz-box-shadow: 8px 12px 28px 0 rgba(136, 142, 160, 0.4);
  }
}

.has-tip {
  border-bottom: none;
  cursor: pointer;
}

.tooltip {
  background-color: #4c4c4e;
  color: #fefefe;
}

.tooltip.top::before {
  border-color: #4c4c4e transparent transparent;
}

.tooltip.bottom::before {
  border-color: transparent transparent #4c4c4e;
}

.tooltip.left::before {
  border-color: transparent transparent transparent #4c4c4e;
}

.tooltip.right::before {
  border-color: transparent transparent transparent #4c4c4e;
}



.supply-logo {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;

  @include breakpoint(small down) {
    max-width: 150px;
  }
}



.faq-sec h4 {
  color: $green
}


.flex-products {
  display: flex;
}



.wrap-info-elements {
  width: 60%;
  margin: 0 auto;
  .info-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    text-align: center;
    .card-info {
      p {
        font-weight:500;
        span {
          display:block;
          font-weight: 400;
          font-size: 0.85rem
        }
      }
    }
  }
}



.wrap-gift {
  display: flex;
  background: $solitude;
  .img-gift {
    img {
      max-width: 100px;
    }
  }
  .text-gift {

  }
}