.button-group-donut {
    padding-top: 30px;
  
    @include breakpoint(small down) {
      text-align: center;
    }
  }

.wrap-button-round {
    position: relative;
  }
  
  .wrap-button-round h4 {
    position: relative;
    font-style: italic;
    padding: 10px 0 0 0px;
    margin: 0;
  
    @include breakpoint(small down) {
      padding: 0 0 0 0;
    }
  
    span {
      font-size: 0.5em;
      vertical-align: super;
      margin: 0 0.3em;
      font-style: italic;
    }
  }
  
  .button-round {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: none;
    border-radius: 50%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    background: $green;
    color: #fff;
    -webkit-transition: all 0.2s, -webkit-transform 0.2s;
    transition: all 0.2s, transform 0.2s;
    z-index: 1;
  
    &.alt-color {
      background: $gold;
      color: #fff;
    }
  
    @include breakpoint(small down) {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }
  }
  
  .button-round.superscript span {
    position: absolute;
    top: -12px;
    left: 18px;
    font-size: 80%;
  
    @include breakpoint(small down) {
      top: -8px;
      left: 12px;
    }
  }
  
  .button-round.donut-color1 {
    background: #FACFB0;
  }
  
  .button-round.donut-color2 {
    background: #FA777D;
  }
  
  .button-round.donut-color3 {
    background: #F0518F;
  }
  
  .button-round.donut-color4 {
    background: #D663C9;
  }
  
  .button-round.donut-color5 {
    background: #B482FA;
  }
  
  .button-round.donut-color6 {
    background: #95A3FA;
  }
  
  .button-round:hover {
    color: $green;
    background: $white;
    -webkit-box-shadow: 0 5px 10px rgba(42, 73, 129, 0.45);
    -moz-box-shadow: 0 5px 10px rgba(42, 73, 129, 0.45);
    box-shadow: 0 5px 10px rgba(42, 73, 129, 0.45);
  }
  