.btn-primary {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 170px;
	height: 44px;
	margin: 0;
	border: 1px solid $gold;
	color: $gold;
	font-size: 10px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 22px;
	box-sizing: border-box;
	transition: all 300ms ease 0s;
	cursor: pointer;
	@include breakpoint(small down) {
		width: 140px;
		height: 40px;
		padding: 20px;
	}

	&:hover {
		background-color: $gold;
		color: $white;
		transition: all 300ms ease 0s;
	}

	&.alt-color {
		background-color: $green;
		border: 1px solid $green;
		color: $white;
		transition: all 300ms ease 0s;

		&:hover {
			background-color: $white;
			color: $green;
			transition: all 300ms ease 0s;
		}
	}

	&.full-width {
		width: 100%;
	}
}

.btn-icon {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 193px;
	height: 48px;
	background-color: $gold;
	color: $white;
	font-size: 10px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	span {
		transform: translateX(-5px);
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}
	&:hover {
		background-color: $white;
		color: $gold;
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

		span {
			transform: translateX(5px);
			transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		}
	}
	&.btn-border {
		background-color: transparent;
		border: 1px solid $green;
		color: $green;
		transition: all 300ms ease 0s;

		&:hover {
			background-color: $green;
			color: $white;
			transition: all 300ms ease 0s;
		}
	}
	&.alt-color {
		background-color: $green;
		border: 1px solid $green;
		color: $white;
		transition: all 300ms ease 0s;

		&:hover {
			background-color: $white;
			color: $green;
			transition: all 300ms ease 0s;
		}
	}
	
	&.full-width {
		width: 100%;
	}
}

.btn-icon-before {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 193px;
	height: 48px;
	background-color: $gold;
	color: $white;
	font-size: 10px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

	&::before {
		content: "←";
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		-webkit-transform: translateX(5px);
		-ms-transform: translateX(5px);
		transform: translateX(5px);
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover {
		background-color: $white;
		color: $gold;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover.btn-icon-before {
		&::before {
			transform: translateX(-5px);
			transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		}
	}
}

.btn-icon-after {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 193px;
	height: 48px;
	background-color: $gold;
	color: $white;
	font-size: 10px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

	&::after {
		content: "→";
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		-webkit-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		transform: translateX(-5px);
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover {
		background-color: $white;
		color: $gold;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&:hover.btn-icon-after {
		&::after {
			transform: translateX(5px);
			transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		}
	}
}

.text-link {
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 110px;
	color: $black;
	font-size: 12px;
	font-weight: 400;
	padding-left: 5px;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	-ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

	&::before {
		content: "←";
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		transform: translateX(5px);
		-webkit-transform: translateX(5px);
		-ms-transform: translateX(5px);
		transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		-ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 1px;
		right: 1px;
		height: 2px;
		background-color: $black;
		transform: scaleX(0);
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform-origin: right center;
		-webkit-transform-origin: right center;
		-ms-transform-origin: right center;
		transition: transform 500ms ease;
		-webkit-transition: transform 500ms ease;
		-ms-transition: transform 500ms ease;
	}

	&:hover {
		color: $black;

		&::after {
			transform: scaleX(1);
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform-origin: right center;
			-webkit-transform-origin: right center;
			-ms-transform-origin: right center;
		}
	}

	&:hover.text-link {
		&::before {
			transform: translateX(-5px);
			-webkit-transform: translateX(-5px);
			-ms-transform: translateX(-5px);
			transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			-ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		}
	}
}
