.product-card-large {
    position: relative;
    background: $white;
    box-shadow: 1px 3px 4px rgba(136, 142, 160, 0.2);
    -webkit-box-shadow: 1px 3px 4px rgba(136, 142, 160, 0.2);
    -moz-box-shadow: 1px 3px 4px rgba(136, 142, 160, 0.2);
    -webkit-transition: all 0.2s, -webkit-transform 0.2s;
    transition: all 0.2s, transform 0.2s;
    
    &.card-max-width {
        max-width: 100rem;
        margin: 0 auto;
    }
    
    &.wrap-product-donut {
        background: $solitude;
        padding: 5% 0;
    }
  
    .product-donut-upper {
      position: relative;
      text-align: center;
  
      .text-holder {
        padding: 0 0 5rem 0;
  
        @include breakpoint(small down) {
          padding: 0 0 8rem 0;
        }
  
        h1 {
          margin-bottom: 0.5rem;
        }
      }
  
      .bg {
        position: absolute;
        width: 100vw;
        min-width: 806px;
        max-width: 1800px;
        padding-bottom: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-mask: url('../img/donuts2.svg');
        mask: url('../img/donuts2.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-position-y: center;
        background: url('../img/bg-scale.png');
        background-repeat: repeat-y;
        background-position-x: 100%;
        background-size: 100% auto;
  
        @include breakpoint(medium down) {
          -webkit-mask: url('../img/donuts2-medium.svg');
          mask: url('../img/donuts2-medium.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          -webkit-mask-position-y: center;
        }
  
        @include breakpoint(small down) {
          min-width: 0;
          -webkit-mask: url('../img/donuts2-small.svg');
          mask: url('../img/donuts2-small.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          -webkit-mask-position-y: center;
        }
      }
  
      .img-holder {
        padding: 0;
        margin-top: 40px;
        margin-bottom: 0;
  
        @include breakpoint(small down) {
          margin-top: -80px;
        }
  
        img {
          position: relative;
          width: 100%;
          max-width: 350px;
          margin: 0 auto;
  
          @include breakpoint(small down) {
            max-width: 150px;
          }
        }
      }
    }
  
  }
  
  .product-donut-lower {
    position: relative;
    margin-top: -20px;
  }
  