.product-table {
    padding-top:1rem;
    table {
        font-weight: 400;
        color: $green;
        thead {
            font-size:0.7rem;
            background: transparent;
            color: $green;
            border: none;
            border-bottom: 1px solid $green;
            tr {
                th {
                    font-weight: 400;
                }
            }
        }
        tbody {
            background: transparent;
            border: none;
            tr {
                background-color: transparent;
                td {
                    font-size:0.9rem;
                    padding: 0.4rem 0.625rem;
                    img {
                        width:15px;
                    }
                }
            }
        }
    }
}

.package-item-details {
    span {
        text-transform: uppercase;
        font-weight:600;
        font-size: 0.7rem;
        padding-bottom:1rem;
        color: $green;
    }
    h1 {
        font-size:4vw;
        color: $green;
    }
    .package-item-price {
        font-size:2rem;
        font-style: italic;
        padding-bottom: 1rem;
        span {
            text-transform: none;
            font-weight:400;
            font-size: 0.5em;
            vertical-align: super;
            margin: 0 0.3em;
        }
    }
    p {
        @include breakpoint(medium down) {
            width:80%;
        }
        @include breakpoint(small down) {
            width:90%;
        }
    }
}