

.wrap-product {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .p-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;
      .product-row-top {
        align-self: stretch;
          background:red;
        .product-details {
            padding: 0 3rem;
            h2 {
                font-size: 5rem;
                font-weight:500;
                color: $green;
            }
            p {
                color: $darkGrey;
                width:75%;
            }
            span {
                position:relative;
                display: inline-block;
                width: 100%;
                &:after {
                    content: '';
                    width: 70%;
                    border-bottom: solid 1px $green;
                    position: absolute;
                    left: 150px;
                    top: 50%;
                    z-index: 1;
                }
            }
        }
        .button-block {
            padding:2rem;
            text-align:center;
            color: $green;
            &.product-buy {
                background: $white;
            }
            .product-price {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                font-size: 1.6rem;
                font-weight: 800;
                padding-bottom: 0.5rem;
                span {
                    font-size: 75%;
                    vertical-align: super;
                    padding-right: 0.2rem;
                    font-weight: 400 !important;
                }
            }
        }
    }
    .product-row-bottom {
        background:green;
        .product-options {
            padding: 0;
            .product-option-item {
                text-align: center;
                img {
                    mix-blend-mode: darken;
                    max-width:250px;
                }
            }
        }
    
    .button-block {
        padding:2rem;
        text-align:center;
        color: $green;
        &.product-subscription {
            background:#ECEFF0;
        }
        .product-price {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            font-size: 1.6rem;
            font-weight: 800;
            padding-bottom: 0.5rem;
            span {
                font-size: 75%;
                vertical-align: super;
                padding-right: 0.2rem;
                font-weight: 400 !important;
            }
        }
    }
    }

    }
  }
  
  .wrap-product {
    .p-container {
      &:nth-child(1) {
        background: #eaeaea;

      }
      &:nth-child(2) {
        background: #F7F7F7;
   
      }
 



    }
  }
  
  html, body {
    height: 100%;
  }
  



