
    <ul class="category-nav-items vertical menu" data-magellan data-threshold="2" data-offset="" data-animation-duration="1000" data-animation-easing="swing"
      activeClass="active">
      <li><a href="#rundstykker">Rundstykker</a></li>
      <li><a href="#franskbroed">Franskbrød</a></li>
      <li><a href="#rugbroed">Rugbrød</a></li>
      <li><a href="#wienerbroed">Wienerbrød</a></li>
      <li><a href="#kranse">Kranse</a></li>
      <li><a href="#konditori">Konditori</a></li>
      <li><a href="#kolonial">Kolonialvarer</a></li>
      <li><a href="#sandwich">Sandwiches</a></li>
    </ul>
