<div class="category-nav">
  <div class="grid-container">
    <ul class="category-nav-items" data-magellan data-threshold="200" data-offset="100" data-animation-easing="swing"
      activeClass="active">
      <li><a href="#rundstykker">Rundstykker</a></li>
      <li><a href="#franskbroed">Franskbrød</a></li>
      <li><a href="#rugbroed">Rugbrød</a></li>
      <li><a href="#wienerbroed">Wienerbrød</a></li>
      <li><a href="#kranse">Kranse</a></li>
      <li><a href="#konditori">Konditori</a></li>
      <li><a href="#kolonial">Kolonialvarer</a></li>
      <li><a href="#sandwich">Sandwiches</a></li>
    </ul>
  </div>
</div>