<div class=" product-card-large card-max-width wrap-product-donut">
    <div class="product-donut-upper">
      <div class="grid-container full">
        <div class="grid-x">
          <div class="cell large-12">
            <div class="text-holder">
              <h1>Donuts til arbejdspladsen</h1>
              <p class="green">Min. 10stk. Skal bestilles min. 48 timer inden levering</p>
            </div>
            <div class="bg"></div>
            <div class="img-holder">
              <img src="../assets/img/donuts.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-donut-lower">
      <div class="grid-container">
        <div class="grid-x align-middle align-center">
          <div class="cell hide-for-small-only medium-5 large-3">
            <img src="../assets/img/donut-box.png" alt="">
          </div>
          <div class="cell small-12 medium-7 large-8">
            <div class="button-group-donut">
              <div class="grid-x grid-padding-x grid-padding-y small-up-3 medium-up-3 large-up-6">
                <div class="cell wrap-button-round">

                  <!-- SHOP ITEM START -->    
                  <a class="snipcart-add-item button-round donut-color1"
                    data-item-id="Donuts 10"
                    data-item-name="Donuts"
                    data-item-description="10 stk."
                    data-item-price="99.00"
                    data-item-image="../assets/img/donuts.svg"
                    data-item-url="/">
                    <!-- BUTTON TEXT -->    
                      10
                  </a>
                  <!-- SHOP ITEM END -->
                  <h4><span class="currency">kr</span>99</h4>
                </div>
                <div class="cell wrap-button-round">
                   <!-- SHOP ITEM START -->    
                   <a class="snipcart-add-item button-round donut-color2"
                   data-item-id="Donuts 20"
                   data-item-name="Donuts"
                   data-item-description="20 stk."
                   data-item-price="99.00"
                   data-item-image="../assets/img/donuts-20.png"
                   data-item-url="/">
                   <!-- BUTTON TEXT -->    
                     20
                 </a>
                 <!-- SHOP ITEM END -->
                  <h4><span class="currency">kr</span>189</h4>
                </div>
                <div class="cell wrap-button-round">
                  <!-- SHOP ITEM START -->    
                  <a class="snipcart-add-item button-round donut-color3"
                  data-item-id="Donuts 30"
                  data-item-name="Donuts"
                  data-item-description="30 stk."
                  data-item-price="279.00"
                  data-item-image="../assets/img/donuts-30.svg"
                  data-item-url="/">
                  <!-- BUTTON TEXT -->    
                    30
                </a>
                <!-- SHOP ITEM END -->
                  <h4><span class="currency">kr</span>279</h4>
                </div>
                <div class="cell wrap-button-round">
                  <!-- SHOP ITEM START -->    
                  <a class="snipcart-add-item button-round donut-color4"
                  data-item-id="Donuts 40"
                  data-item-name="Donuts"
                  data-item-description="40 stk."
                  data-item-price="369.00"
                  data-item-image="../assets/img/donuts-40.svg"
                  data-item-url="/">
                  <!-- BUTTON TEXT -->    
                    40
                </a>
                <!-- SHOP ITEM END -->
                  <h4><span class="currency">kr</span>369</h4>
                </div>
                <div class="cell wrap-button-round">
                  <!-- SHOP ITEM START -->    
                  <a class="snipcart-add-item button-round donut-color5"
                  data-item-id="Donuts 50"
                  data-item-name="Donuts"
                  data-item-description="50 stk."
                  data-item-price="459.00"
                  data-item-image="../assets/img/donuts-50.svg"
                  data-item-url="/">
                  <!-- BUTTON TEXT -->    
                    50
                </a>
                <!-- SHOP ITEM END -->
                  <h4><span class="currency">kr</span>459</h4>
                </div>
                <div class="cell wrap-button-round">
                    <!-- SHOP ITEM START -->    
                   <a class="snipcart-add-item button-round superscript donut-color6"
                   data-item-id="Donuts 5"
                   data-item-name="Donuts"
                   data-item-description="+5 stk."
                   data-item-price="49.00"
                   data-item-image="../assets/img/donuts-5.svg"
                   data-item-url="/">
                   <!-- BUTTON TEXT -->    
                   <span>+</span>5</a>
                 </a>
                 <!-- SHOP ITEM END -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  