<!-- FLAG EFFECT START -->
<div class="flag-effect w-embed">
    <style>
      /* customizable flag styling */
      .flag {
        text-shadow: 0 0 5px rgb(0 0 0 / 12%);
      }
  
      @-webkit-keyframes flag-fall {
        0% {
          top: -10%
        }
  
        100% {
          top: 100%
        }
      }
  
      @-webkit-keyframes flag-shake {
  
        0%,
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0)
        }
  
        50% {
          -webkit-transform: translateX(80px);
          transform: translateX(80px)
        }
      }
  
      @keyframes flag-fall {
        0% {
          top: -10%
        }
  
        100% {
          top: 100%
        }
      }
  
      @keyframes flag-shake {
  
        0%,
        100% {
          transform: translateX(0)
        }
  
        50% {
          transform: translateX(80px)
        }
      }
  
      .flag {
        position: fixed;
        top: -10%;
        z-index: 9999;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        -webkit-animation-name: flag-fall, flag-shake;
        -webkit-animation-duration: 10s, 3s;
        -webkit-animation-timing-function: linear, ease-in-out;
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-play-state: running, running;
        animation-name: flag-fall, flag-shake;
        animation-duration: 10s, 3s;
        animation-timing-function: linear, ease-in-out;
        animation-iteration-count: infinite, infinite;
        animation-play-state: running, running
      }
  
      .flag:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 0s, 0s;
        animation-delay: 0s, 0s
      }
  
      .flag:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s
      }
  
      .flag:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s, .5s;
        animation-delay: 6s, .5s
      }
  
      .flag:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s, 2s;
        animation-delay: 4s, 2s
      }
  
      .flag:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s, 2s;
        animation-delay: 2s, 2s
      }
  
      .flag:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s, 3s;
        animation-delay: 8s, 3s
      }
  
      .flag:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s, 2s;
        animation-delay: 6s, 2s
      }
  
      .flag:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s, 1s;
        animation-delay: 2.5s, 1s
      }
  
      .flag:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s, 0s;
        animation-delay: 1s, 0s
      }
  
      .flag:nth-of-type(9) {
        left: 90%;
        -webkit-animation-delay: 3s, 1.5s;
        animation-delay: 3s, 1.5s
      }
  
      .flag:nth-of-type(10) {
        left: 25%;
        -webkit-animation-delay: 2s, 0s;
        animation-delay: 2s, 0s
      }
  
      .flag:nth-of-type(11) {
        left: 65%;
        -webkit-animation-delay: 4s, 2.5s;
        animation-delay: 4s, 2.5s
      }
    </style>
    <div class="flags" aria-hidden="true">
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
      <div class="flag">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="23.728px" height="15px" viewBox="0 0 23.728 15"
          style="enable-background:new 0 0 23.728 15;" xml:space="preserve">
          <rect style="fill:#E51B23;" width="23.728" height="15" />
          <polygon style="fill:#FFFFFF;" points="23.728,6.559 7.462,6.559 7.462,0 5.592,0 5.592,6.559 0,6.559 0,8.435 5.592,8.435 
        	5.592,14.994 7.462,14.994 7.462,8.435 23.728,8.435 " />
        </svg>
      </div>
    </div>
  </div>
  <!-- FLAG EFFECT  END -->