<section class="footer">
    <div class="footer-middle">
        <div class="grid-container full">
            <div class="grid-x align-middle">
                <div class="cell medium-6">
                    <h5>Bestil inden kl:22.00 til levering næste dag</h5>
                </div>
                <div class="cell medium-5 medium-offset-1 large-5 large-offset-1 wrap-icons">
                    <div class="flex-list-icons">
                        <div> <i class="icon-medal"></i>
                            <p>Kvalitetsbagværk</p>
                        </div>
                        <div> <i class="icon-clock2"></i>
                            <p>Døgnbestilling</p>
                        </div>
                        <div> <i class="icon-secure_pay"></i>
                            <p>Sikker betaling</p>
                        </div>
                        <div> <i class="icon-delivery"></i>
                            <p>Hurtig levering</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="grid-container full">
            <div class="grid-x align-middle">
                <div class="cell small-order-3 medium-order-1 medium-auto">
                    <div class="flex-list-links">
                        <div><p>@2021 Ordery</p></div>
                        <div><a href="/Faq.html">Faq</a></div>
                        <div><a href="/handelsbetingelser.html">Handelsbetingelser</a></div>
                    </div>
                </div>
                <div class="cell small-order-2 medium-order-1 small-9 medium-auto">
                    <div class="footer-text">
                        <p>Ordery-systemet er ejet og drevet af <span>Red-y IVS</span></p>
                        <div class="flex-list-icons">
                            <div>
                                <p>Hallandsgade 1a, 2300 København</p>
                            </div>
                            <div>
                                <p>CVR 38727745</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-order-1 medium-order-2 small-3 medium-shrink">
                    <img src="../assets/img/emblem.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>