<div class="grid-container full">
    <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-3 large-up-6">
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="København S" href="shop.html">2300</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="København SV">2450</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Valby">2500</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Glostrup">2600</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Rødovre">2610</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Hvidovre">2650</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Herlev">2730</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Skovlunde">2740</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Ballerup">2750</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Kastrup">2770</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Dragør">2791</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Kgs. Lyngby">2800</div>
        </div>



        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Gentofte">2820</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Virum">2830</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Søborg">2860</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Dyssegård">2870</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Bagsværd">2880</div>
        </div>
        <div class="cell">
            <div class="select-block has-tip" data-tooltip aria-haspopup="true" data-disable-hover="false"
                tabindex=1 title="Hellerup">2900</div>
        </div>
    </div>
</div>