<header class="header">
  <div class="container-fluid">
    <div class="main-navigation-bar">
      <div class="header-inner">
        <a href="/"><img src="../assets/img/logo.svg" alt="Logo"></a>
        <ul class="menu-left menu-items dropdown" data-dropdown-menu>
          <li><a href="/om.html" class="menu-item">Om Ordery</a></li>
          <li><a href="/erhverv.html" class="menu-item">Erhverv</a></li>
          <li class="no-hover is-dropdown-submenu-parent">
            <a href="#">
              <span>Konto</span>
            </a>
            <ul class="menu vertical account">
              <li>
                <a href="#" class="snipcart-user-profile">
                  <span class="snipcart-user-email">Log ind</span>
                </a>
              </li>
              <li>
                <a href="#" class="snipcart-edit-profile">
                  rediger konto
                </a>
              </li>
              <li>
                <a href="#" class="snipcart-user-logout">
                  Log ud
                </a>
              </li>
            </ul>
          </li>
          <li><a href="/shop.html" class="menu-item">Shop</a></li>
        </ul>
        <ul class="menu-right menu-items">
          <li class="snipcart-summary">
            <a href="/">
              <span class="snipcart-checkout snipcart-text">Kurv</span>
              <span class="snipcart-total-items">0</span>
            </a>
          </li>
          <li class="snipcart-summary">
            <h4><span class="snipcart-total-price" data-autopop="false"></span></h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-navigation-bar">
      <div class="header-inner">
        <a href="/"><img src="../assets/img/logo.svg" alt="Logo"></a>
        <ul class="menu-right menu-items">
          <li class="snipcart-summary">
            <a href="/">
              <span class="snipcart-checkout snipcart-text">Kurv</span>
              <span class="snipcart-total-items">0</span>
            </a>
          </li>
          <li class="snipcart-summary">
            <h4><span class="snipcart-total-price" data-autopop="false"></span></h4>
          </li>
          <li>
            <div class="wrap-burger">
              <div id="burger">
                  <div id="top"></div>
                  <div id="middle"></div>
                  <div id="bottom"></div>
              </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>




<script>
  var prev = 0;
  var $window = $(window);
  var nav = $('.header');

  $window.on('scroll', function () {
    var scrollTop = $window.scrollTop();
    nav.toggleClass('hidden', scrollTop > prev);
    prev = scrollTop;
  });
</script>