<div class="padding-intro-text">
    <div class="wrap-intro-text">
      <div class="bg-text">
        <h1 class="animatedParent">
          <span class="animated fadeInLeftShort delay-500">MAN</span>
          <span class="animated fadeInLeftShort delay-750">-</span>
          <span class="animated fadeInLeftShort delay-1000">FRE</span>
        </h1>
      </div>
      <div class="grid-container full">
        <div class="grid-x align-center">  
          <div class="cell small-11 medium-10 large-8">
            <div class="wrap-inner-text">
              <div class="intro-emblem">
                <img src="../assets/img/emblem.svg" alt="Logo">
              </div>
       
              <div class="inner-text animatedParent">
                <h3 class="inner-text-top animated fadeInUpShort delay-1000">Ordery leverer friskbagt brød direkte fra håndværksbagerens ovn & direkte til din dør.</h3>
                <h3 class="inner-text-bottom gold bold animated fadeInUpShort delay-1500">Bestil inden kl.22:00 til levering næste dag.</h3>
              </div>	
            </div>									
          </div>
        </div>
      </div>
    </div>
  </div>