<div id="page-wrapper">
    <div id="nav">
        <div class="nav-wrap">
            <div class="grid-container fluid">
                <div class="grid-x">
                    <div class="cell medium-12">
                        <div class="nav-list">
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/om.html" class="menu-item">Ordery</a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/erhverv.html" class="menu-item">Erhverv</a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/shop.html" class="menu-item">Shop</a>
                                </span>
                            </div>
                            

                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="#" class="snipcart-user-profile">
                                        <span class="snipcart-user-email">Log ind</span>
                                    </a>
                                </span>
                            </div>

                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="#" class="snipcart-edit-profile">
                                        rediger konto
                                    </a>
                                </span>
                            </div>

                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="#" class="snipcart-user-logout">
                                        Log ud
                                    </a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <div class="divider"></div>
                            </div>

                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/om.html" class="menu-item">Konditoriet v/ Michael Hjort</a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/om.html" class="menu-item">Eriks Bageri - Amager</a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/om.html" class="menu-item">Ganløse Bageri</a>
                                </span>
                            </div>
                            <div class="menu-item">
                                <span class="border-link">
                                    <a href="/om.html" class="menu-item">Bageren i centret</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="mobile-bottom">
            <div class="flex-list-links">
                <div><p>@2021 Ordery</p></div>
                <div><a href="/faq.html">Faq</a></div>
                <div><a href="/handelsbetingelser.html">Handelsbetingelser</a></div>
            </div> 
        </div>
    </div>
</div>
