<div class="grid-container fluid">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-6">
            <div class="img-holder">
                <img src="../assets/img/products/pack-two_of_us.svg" alt="Familiepakke til 2">
            </div>
        </div>

        <div class="cell large-5 large-offset-1">
            <div class="package-item-details">
                <span>Til en familie på ca.2</span>
                <h1>Just the 2 of us</h1>
                <h2 class="package-item-price"><span class="currency">kr</span>89.00</h2>
                <p>Pakken indeholder lækkert håndværksbagt brød til tre personer, inkluderet groft kernerugbrød, grove flutes og lidt sødt.</p>
                <p>Pakken kan købes som abonnementsløsning</p>
            </div>
            <div class="product-table">
                <table>
                    <thead>
                        <tr>
                            <th width="200">Inkluderet i pakken</th>
                            <th width="150">Info</th>
                            <th width="50">Antal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Softkernerugbrød</td>
                            <td><img src="../assets/img/e.svg" alt="Økologisk"></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Græskarkerneboller</td>
                            <td></td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Grove flutes</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Romkugler</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="package-item-action">
                <div class="grid-x wrap-button">
                    <div class="cell auto">
                        <a class="snipcart-add-item btn-primary alt-color"
                            data-item-id="package-1"
                            data-item-name="Just the 2 of us"
                            data-item-price="89.00"
                            data-item-image="../assets/img/products/pack-two_of_us.svg"
                            data-item-description="Den lille pakke til 2 personer"
                            data-item-url="/">
                            Læg i kurv
                        </a>
                    </div>
                    <div class="cell shrink">
                        <a class="snipcart-add-item btn-primary"
                            data-item-id="package-1-subscription"
                            data-item-name="Just the 2 of us"
                            data-item-price="89.00"
                            data-item-image="../assets/img/products/pack-two_of_us.svg"
                            data-item-description="Den lille pakke til 2 personer<br>*Abonnement*"
                            data-item-url="/"
                            data-item-payment-interval="Month">
                            Abonnement
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>