<div class="grid-container fluid">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-6">
            <div class="img-holder">
                <img src="../assets/img/products/pack-lille_familie.svg" alt="Den Lille Familiepakke">
            </div>
        </div>

        <div class="cell large-5 large-offset-1">
            <div class="package-item-details">
                <span>Til en familie på ca.3</span>
                <h1>Den lille familiepakke</h1>
                <h2 class="package-item-price"><span class="currency">kr</span>129.00</h2>
                <p>Pakken indeholder lækkert håndværksbagt brød til tre personer, inkluderet groft kernerugbrød, groft
                    franskbrød og lidt sødt.</p>
                <p>Pakken kan købes som abonnementsløsning</p>
            </div>
            <div class="product-table">
                <table>
                    <thead>
                        <tr>
                            <th width="200">Inkluderet i pakken</th>
                            <th width="150">Info</th>
                            <th width="50">Antal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Softkernerugbrød</td>
                            <td><img src="../assets/img/e.svg" alt="Økologisk"></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Græskarkerneboller</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>3-korns franskbrød</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Romkugler</td>
                            <td></td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="package-item-action">
                <div class="grid-x wrap-button">
                    <div class="cell auto">
                        <a class="snipcart-add-item btn-primary alt-color" data-item-id="package-1"
                            data-item-name="Familiepakke 1" data-item-price="129.00"
                            data-item-image="../assets/img/hero-abonnement.jpg"
                            data-item-description="Brødpakke til en lille familie" data-item-url="/">
                            Læg i kurv
                        </a>
                    </div>
                    <div class="cell shrink">
                        <a class="snipcart-add-item btn-primary" data-item-id="package-1-subscription"
                            data-item-name="Familiepakke 1" data-item-price="129.00"
                            data-item-image="../assets/img/hero-abonnement.jpg"
                            data-item-description="Brødpakke til en lille familie<br>*Abonnement*" data-item-url="/"
                            data-item-payment-interval="Month">
                            Abonnement
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>