<div class="product-card-large card-max-width">
    <div class="grid-container full">
      <div class="grid-x product-card-quick">
        <div class="cell large-3">
          <div class="grid-x small-up-1 medium-up-3 large-up-1 align-middle cell-height">
            <div class="cell small-order-2 medium-order-1 cell-first">
              <span class="item-top">
                <p class="georgia gold">Bagermesteren blander brødet. <span>Nemt og hurtigt.</span></p>
              </span>
            </div>
            <div class="cell small-order-1 medium-order-2">
              <div class="item-title">
                <h1>Quickordery</h1>
              </div>
              
            </div>
            <div class="cell small-order-3 medium-order-3 cell-last">
              <span class="item-bottom">
                <p class="georgia gold">Bestil inden kl. 22:00 <span>til levering næste dag.</span></p>
              </span>
            </div>
          </div>
        </div>
        <div class="cell large-9">
          <div class="grid-x grid-padding-x">
            <div class="cell large-12 solitude">
              <div class="product-holder">
                <h3>Brød</h3>
                <p class="georgia">Rundstykke, Håndværker, Italiensk rundstykke, Græskarbolle, Giffel.</p>
                <div class="button-group-round">
                  <div class="grid-x grid-padding-x grid-padding-y small-up-3 medium-up-6 large-up-6">
                    <div class="cell wrap-button-round">
                     
                      <!-- SHOP ITEM START -->                  
                      <a class="snipcart-add-item button-round"
                        data-item-id="quickordery 10-brød"
                        data-item-name="quickordery"
                        data-item-description="10 stk. rundstykker"
                        data-item-price="49.00"
                        data-item-image="../assets/img/quick-broed-10.svg"
                        data-item-url="/">
                        <!-- BUTTON TEXT -->    
                          10
                      </a>
                      <!-- SHOP ITEM END -->
                      <h4><span class="currency">kr</span>49</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <!-- SHOP ITEM START -->                  
                      <a class="snipcart-add-item button-round"
                        data-item-id="quickordery 20-brød"
                        data-item-name="quickordery"
                        data-item-description="20 stk. rundstykker"
                        data-item-price="89.00"
                        data-item-image="../assets/img/quick-broed-20.svg"
                        data-item-url="/">
                        <!-- BUTTON TEXT -->    
                          20
                      </a>
                      <!-- SHOP ITEM END -->
                      <h4><span class="currency">kr</span>89</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round">30</a>
                      <h4><span class="currency">kr</span>149</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round">40</a>
                      <h4><span class="currency">kr</span>199</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round">50</a>
                      <h4><span class="currency">kr</span>249</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round superscript"><span>+</span>5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell large-12 alt-white">
              <div class="product-holder">
                <h3>Wienerbrød</h3>
                <p class="georgia">Crossiant m/chokolade, Chokoladebolle, Overskåret, Spanduer, Snegle.</p>
                <div class="button-group-round">
                  <div class="grid-x grid-padding-x grid-padding-y small-up-3 medium-up-6 large-up-6 align-center">
                    <div class="cell wrap-button-round">

                       <!-- SHOP ITEM START -->
                          <a class="snipcart-add-item button-round alt-color"
                          data-item-id="aeblemost"
                          data-item-name="Æblemost"
                          data-item-description="Ufiltreret æblemost, presset af solmodne økologiske æbler -ingen tilsætning"
                          data-item-price="28.00"
                          data-item-image="../assets/img/products/aeblemost.jpg"
                          data-item-url="/">

                          <!-- BUTTON TEXT -->    
                          10
                      </a>
                      <!-- SHOP ITEM END -->




                      <h4><span class="currency">kr</span>99</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round alt-color">20</a>
                      <h4><span class="currency">kr</span>189</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round alt-color">30</a>
                      <h4><span class="currency">kr</span>279</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round alt-color">40</a>
                      <h4><span class="currency">kr</span>369</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round alt-color">50</a>
                      <h4><span class="currency">kr</span>459</h4>
                    </div>
                    <div class="cell wrap-button-round">
                      <a href="/" class="button-round alt-color superscript"><span>+</span>5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell large-12">
          <div class="accordion" data-accordion data-allow-all-closed="true">
            <div class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Skal du have kolonialvarer med?</a>
              <div class="accordion-content" data-tab-content>
                <div class="grid-container full">
                  <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-kaergaarden}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-ost}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-rejeost-20}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-marmelade}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-paalaegschokolade-lys}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-paalaegschokolade-moerk}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-letmaelk}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-minimaelk}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-aeblemost}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-juice}}
                    </div>
                    <div class="cell small-12 medium-6 large-3">
                      {{> shop-item-kakaomaelk}}
                    </div>
                  </div>
                  <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell auto">
                      <div class="wrap-button">
                        <a href="shop.html" class="btn-icon alt-color">Gå i shoppen
                          <span class="arrow">→</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>