<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/ost.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Mellemlagret ost</h2>
        <p>45%, i skiver</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>43.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="mellemlagret-ost"
        data-item-name="Mellemlagret ost"
        data-item-description="45%, i skiver"
        data-item-price="43.00"
        data-item-image="../assets/img/products/ost.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>