<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/marmelade.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Konditorens marmelade</h2>
        <p>Jorbær</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>35.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="marmelade"
        data-item-name="Marmelade"
        data-item-description="Jordbær"
        data-item-price="35.00"
        data-item-image="../assets/img/products/marmelade.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>