<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/chokoladetrekant.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Chokoladetrekant</h2>
        <p>Sammenlagt wienerbrødsdej m/remonce og creme & chokoladeglasur</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>50.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="Chokoladetrekant"
        data-item-name="Chokoladetrekant"
        data-item-description="Sammenlagt wienerbrødsdej m/remonce og creme & chokoladeglasur"
        data-item-price="50.00"
        data-item-image="../assets/img/products/chokoladetrekant.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>