<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/gentofterugbroed.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Gentofterugbrød</h2>
        <p>Bagt m/ naturlig surdej, rugkerner, græskar & havreflager</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>36.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="gentofterugbrød"
        data-item-name="Gentofterugbrød"
        data-item-description="Bagt m/ naturlig surdej, rugkerner, græskar & havreflager"
        data-item-price="36.00"
        data-item-image="../assets/img/products/gentofterugbroed.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>