<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/kakao.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Kakaomælk</h2>
        <p>Matilde Original - 1l.</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>21.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="kakaomælk"
        data-item-name="Kakaomælk"
        data-item-description="Matilde Original - 1l."
        data-item-price="21.00"
        data-item-image="../assets/img/products/kakao.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>