<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/appelsinkage.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Appelsinkage</h2>
        <p>Dessertkage m/ appelsin</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>65.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="appelsinkage"
        data-item-name="Appelsinkage"
        data-item-description="Dessertkage m/ appelsin"
        data-item-price="65.00"
        data-item-image="../assets/img/products/appelsinkage.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>