<!-- SHOP CARD -->
<div class="flex-container small-flex-dir-row medium-flex-dir-column align-middle shop-item">
    <div class="flex-child-shrink small-order-2 medium-order-1 shop-item-img">
        <img src="../assets/img/products/graeskarbolle.jpg" alt="">
    </div>
    <div class="flex-child-auto small-order-1 medium-order-2 shop-item-details">
        <h2>Græskarbolle</h2>
        <p>Grov bolle bagt af italiensk dej m/ ristede græskarkerner</p>
        <div class="shop-item-price">
            <h3><span class="currency">kr</span>11.00</h3>
        </div>
    </div>

    <!-- SHOP ITEM START -->
    <a class="snipcart-add-item"
        data-item-id="graeskarbolle"
        data-item-name="Græskarbolle"
        data-item-description="Grov bolle bagt af italiensk dej m/ ristede græskarkerner"
        data-item-price="11.00"
        data-item-image="../assets/img/products/graeskarbolle.jpg"
        data-item-url="/">

        <!-- BUTTON TEXT -->    
        Læg i kurv
    </a>
    <!-- SHOP ITEM END -->
</div>